body {
	font-family: Arial;
	background-image: url(../img/fondo-home.jpg);
	background-size: cover;
	width: 100%;
	height: 100%;
}
header {
	text-align: center;
}
a {
	color: white;
	font-weight: bold;
	font-size: 20px;
}
.row {
	width: 100%;
	margin: 0;
}
.logo-blanco {
	width: 200px;
	height: auto;
	margin-top: 10px;
}
.btn-home {
	border-radius: 3px;
	display: inline;
	width: 100%;
	height: auto;
	padding: 10px auto;
}
.btn-home a {
	margin: 10px auto;
	text-align: center;
	width: 100%;
}
.btn-logIn {
	background-color: transparent;
	border: 1px solid white !important;
}
.btn-signUp {
	background: linear-gradient(rgb(118, 2, 189), rgb(212, 0, 206));
	border: 0px;
}
.home section .row {
	position: absolute;
	bottom: 10px;
}