body {
	font-family: Arial;
}
#irA-home {
	position: absolute;
	left: 5px;
	top: 15px;
	border: 0;
	background-color: white;
	color: black;
	font-size: 50px;
}
h1, p {
	text-align: center;
}
#inputTelefonico{
	text-align: center;
}
.inputTelefonico div {
	display: inline;
}
.btn-next {
	display: inline;
	margin: 0;
	width: 100%;
	color: white;
	background: linear-gradient(rgb(118, 2, 189), rgb(212, 0, 206));
	border: 0;
	border-radius: 0; 
	padding: 10px;
	font-weight: bold;
	font-size: 35px;
	position: absolute;
	bottom: 0;
}

/*


var pais_actual = windows.localStorage.getItem("pais_actual")||"Chile";
var pais_obj = null;
for (var i=0; i<paises.lenght; ++i) {
	if(paises[i].nombre == pais_actual){
		pais_obj = paises[i];
		break;
	}
}


$('.pais-item a').on('click', function(ev){
	var nombre_pais = $(this).find('span').html();
	window.localStorage.setItem('nombre_pais-llave', nombre_pais)
});

$.ajax({
	url:"/usuario/info.json", ------> obligatorio
	dataType: "json", ------> obligatorio
	type: "GET", ------> valor por defecto
	function(data){
		....
	}
});

GET -> index.html
{"nombre": "Matias",
"edad": 27
}

$.ajax({
	url:"/usuario/info.json", ------> obligatorio
	dataType: "json", ------> obligatorio
	success: function(data){
		alert(data.nombre);
	}
	error: function(err){
		alert("Tiene problemas con internet");
	}
});


*/